<div class="container">

  <h1 class="text-center my-5">Faça sua venda!</h1>

  <div class="container mt-2 mb-2">
    <div class="row">
      <div class="col-md-6 mb-5 d-flex justify-content-center">
        <div>
          <button class="botao">
          <a data-toggle="modal" data-target="#novaCategoria"> 
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/G62hsU2.png" alt="imagem de categoria" width="200px" height="200px">
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                <h4>Cadastrar nova categoria</h4>
              </div>
            </div>
          </div>
        </a>
      </button>
      <div class="d-flex justify-content-center">
        <button class="buttonEdit btn-color" data-toggle="modal" routerLink='/categoria'>Editar</button>
      </div>
        </div>
        
      </div>

      <div class="col-md-6 mb-5 d-flex justify-content-center">
      <div>
        <button class="botao">
        <a data-toggle="modal" data-target="#novoProduto">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-center">
              <img src="https://i.imgur.com/B6bK8P9.png" alt="imagem de compra" width="200px" height="200px">
            </div>
            <hr>
            <div class="d-flex justify-content-center">
              <h4>Cadastrar novo produto</h4>
            </div>
            <div class="d-flex justify-content-end">
            </div>
          </div>
        </div>
      </a>
    </button>
        <div class="d-flex justify-content-center">
        <button class="buttonEdit btn-color" data-toggle="modal" routerLink='/produto'>Editar</button>
      </div>
    </div>
      </div>
  </div>
</div>
</div>
      
  <!-------------------------modal novo produto--------------------------->


  <div class="modal fade" id="novoProduto" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cadastarProdutos">Cadastrar novo produto</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Nome</label>
            <input [(ngModel)]="produto.nome" type="text" class="form-control"
              id="nomePt">
          </div>

          <div class="form-group">
            <label for="titulo">Descrição</label>
            <input [(ngModel)]="produto.descricao" type="text" class="form-control"
              id="descricaoPt">
          </div>

          <div class="form-group">
            <label for="titulo">Valor</label>
            <input [(ngModel)]="produto.valor" type="number" class="form-control"
               id="valorPt">
          </div>

          <div class="form-group">
            <label for="titulo">Quantidade</label>
            <input [(ngModel)]="produto.quantidade" type="number" class="form-control"
               id="quantidadePt">
          </div>

          <div class="form-group">
            <label for="titulo">Garantia</label>
            <input [(ngModel)]="produto.garantia" type="text" class="form-control"
              id="garantiaPt">
          </div>

          <div class="form-group">
            <label for="titulo">Adicione a url da imagem</label>
            <input [(ngModel)]="produto.imagem" type="text" class="form-control"
              id="imagemPt">
          </div>

          <label for="texto">Escolha uma categoria ou <a data-dismiss="modal">cadastre uma nova</a>:</label>
            <select name="categoria" id="categoria" class="form-control" [(ngModel)]='idCategoria' (change)='findByIdCategoria()'>
              <option *ngFor='let item of listaCategoria' value="{{item.id}}"> {{item.nome}}
              </option>
            </select>

          <div class="d-flex justify-content-and">
            <div class="button btn btn-success my-4" (click)="criarProduto()" data-dismiss="modal"> Cadastrar</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-------------------------modal nova categoria--------------------------->

  <div class="modal fade" id="novaCategoria" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crie uma nova categoria</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input [(ngModel)]="categoria.nome" type="text" class="form-control"
              placeholder="Digite o nome da categoria" id="nome">
          </div>

          <div class="form-group">
            <input [(ngModel)]="categoria.descricao" type="text" class="form-control" placeholder="Digite uma descrição"
              id="descricao">
          </div>

          <div class="form-group">
            <input [(ngModel)]="categoria.imagem" type="text" class="form-control"
              placeholder="Adicione a url da imagem" id="url">
          </div>

          <div class="d-flex justify-content-and">
            <div class="button btn btn-success" (click)="criarCategoria()" data-dismiss="modal"> Cadastrar</div>
          </div>
        </div>
      </div>
    </div>
  </div>