.container{
    background-color: #F4FFDD;
    margin-bottom: 3rem;
}
.botao:hover{
    color: rgb(179, 179, 179);
}
.buttonEdit{
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
}
.btn-color{
    background: #4b3220;
    color: #ffff;
}
.btn-color:hover{
    background: #331e0f;
    color: #ffff;
}
.Cardlarg{
    width: 100%;
}