.font-color {
    color: #5E3519;
}

.fs-icon {
    font-size: 20pt;
}

.fa-instagram:hover{
    color: #c13584;
}

.fa-facebook-square:hover{
    color: #3b5998;
}

.fa-github:hover{
    color: #161B22;
}

.background-image{
    background: url(https://i.imgur.com/eGt4aSo.png);
    background-size: auto;
}

