<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Quem nós somos</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <h5>Nossas redes</h5>
                    </li>
                    <li>
                        <a href="https://github.com/EcoTenda" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://instragram.com/EcoTenda" target="_blank" class="icoGithub">
                            <i class="fa fa-instagram" aria-hidden="true"></i>                        
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/EcoTenda" target="_blank" class="icoGithub">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>                      
                        </a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4 d-flex justify-content-center ">

                <ul class="social-network">
                    <li>
                        <h5>Entre em contato conosco</h5>
                            <h6><i class="fa fa-phone" aria-hidden="true"></i> 119337455</h6>
                            <h6><i class="fa fa-envelope-o" aria-hidden="true"></i> Ecotenda@gmail.com</h6>
                            <h6><i class="fa fa-whatsapp" aria-hidden="true"></i> 119546230</h6>
                    </li>
                </ul>

            </div>
            <div class="col-md-4 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <h5>O que é EcoTenda</h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus beatae ipsum sapiente consectetur vitae nostrum, ad animi.</p>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> ₢ 2021 Copyright: EcoTenda</span>

    </div>

</footer>
