<footer class="page-footer font-small pt-4 background-image" style="background-color: #9DBF54;">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex justify-content-center">

                <ul class="social-network">
                    <div>
                        <h5 class="font-weight-bold font-color">Redes Sociais</h5>
                    </div>
                    <div class="fs-icon">
                        <a href="https://github.com/EcoTenda" target="_blank" class="icoGithub font-color m-2">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>

                        <a href="https://instragram.com/EcoTenda" target="_blank" class="icoInsta font-color m-2">
                            <i class="fa fa-instagram" aria-hidden="true"></i>                        
                        </a>

                        <a href="https://facebook.com/EcoTenda" target="_blank" class="icoFb font-color m-2">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>                      
                        </a>
                    </div>
                    
                        
                    
                    
                        
                    
                </ul>

            </div>
            <div class="col-md-4 d-flex justify-content-center ">

                <ul class="social-network">
                    
                        <h5 class="font-weight-bold font-color">Entre em contato conosco</h5>
                        <h6 class="font-color"><i class="fa fa-envelope-o" aria-hidden="true"></i> ecotenda@gmail.com</h6>
                            <h6 class="font-color"><i class="fa fa-phone" aria-hidden="true"></i> (11) 93374-5590</h6>
                            <h6 class="font-color"><i class="fa fa-whatsapp" aria-hidden="true"></i> (11) 95462-3080</h6>
                    
                </ul>

            </div>
            <div class="col-md-4 d-flex justify-content-center">

                <ul class="social-network">
                    <div>
                        <h5 class="font-weight-bold font-color">O que é EcoTenda</h5>
                        <h6 class="font-color">Somos um e-commerce que com base nos Objetivos de Desensolvimento Sustatáveis 11 (ODS 11) disponibilizamos produtos
                            sustentáveis adquiridos através da reciclagem.</h6> 
                    </div>
                </ul>

            </div>
        </div>

    </div>

    <div class="footer-copyright text-center py-3" style="background-color: #5E3519;">
        <span class="text-light"> &copy; 2021 Copyright: EcoTenda</span>

    </div>

</footer>
