@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
  
p{
    font-family: 'Arimo', sans-serif;
    font-size: 13.68pt;
}
 
.titulo{
   font-family:'Luckiest Guy', cursive; 
}
 
.titulo-pilar-equipe{
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 36pt;
}
 
.containerequipe{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
 
.equipe{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
 
.colequipe{
    flex-basis: 100%;
    overflow: hidden;
}
 
.cardequipe{
  max-width: 250px;
  height: 250px;
  margin: auto;
  display: flex;
  perspective: 800px;
  
}
 
.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 0.1rem;
    transition: transform 1s;
    transform-style: preserve-3d;
}
 
.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 0.1rem;
}
 
.card-front{
 
background-position: center;
background-size: cover;
}
 
.card01{
    background-image: url(https://github.com/alessandrodjr.png);
}
 
.card02{
    background-image: url(https://i.imgur.com/edcPdCz.jpg);
}
 
.card03{
    background-image: url(https://github.com/bbaldaia.png);
}
 
.card04{
    background-image: url(https://i.imgur.com/orzBvgZ.png?1);
}
 
.card05{
    background-image: url(https://i.imgur.com/2uJnOsx.jpg);
}

.spanequipe {
display: inline-block;
width: 200px;  
 padding: 14px 0;
 margin-top: 160px;
 border-radius: 4px;
 color: #ffffff;
 transition: transform 1s;
 font-family: 'Arimo', sans-serif;
 font-size: 16.68pt; 
} 
 
.card-back{
    background: #9DBF54;
    transform: rotateX(180deg);
} 
 
.cardequipe:hover .inner-box {
    transform: rotateX(-180deg);
}
 
.cardequipe:hover span{
    transform: translateY(140px)
}
 
.pequipe{
    display: inline-block;
    color: #5e3519;
    padding-bottom: 10px;
    border-bottom: 1px solid #5e3519;
    margin-top: 140px;
    font-family: 'Arimo', sans-serif;
    font-size: 14.68pt; 
}
 
.pequipe:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
 
.pnome{
    display: inline-block;
    color: #5e3519;
    padding-bottom: 10px;
    border-bottom: px solid #5e3519;
    margin-top: 140px;
    font-family: 'Arimo', sans-serif;
    font-size: 16pt; 
}
 
.pnome:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
 
.fa{
    font-size: 2rem;
    color: #ffffff;
    cursor:pointer;
}
 
.fa-github:hover{
    color: #161B22;
}
 
.fa-linkedin-square:hover{
    color: #0e76a8;
}
 
/* Fim - Nossa Equipe */
 
 
/* Missão Visão Valores */

.titulomvv{
    font-family: 'Passion One', cursive;
    font-size: 28pt;
}

.spanmvv {
    display: inline-block;
    width: 200px;  
   padding: 14px 0;
   margin-top: 160px;
   border-radius: 4px;   
   color: #000000;
   transition: transform 1s;
  } 

.backmissao{
    background: #E8EAE7;
    transform: rotateX(180deg);
}

.backvisao{
    background: #FAE8D6;
    transform: rotateX(180deg);
}
 
.backvalores{
    background: #B2D9B3;
    transform: rotateX(180deg);
}
 
.cardmvv{
    max-width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    perspective: 1100px;
    cursor: default #000000;    
  }
 
  .cardmvv:hover .inner-box {
    transform: rotateX(-180deg);
}
 
.cardmvv:hover span{
    transform: translateY(140px)
}
 
.cardmissao{
    background-image: url(https://i.imgur.com/OVdyuci.jpg);
}
 
.cardvisao{
    background-image: url(https://i.imgur.com/oSNbFvq.jpg);
}
 
.cardvalores{
    background-image: url(https://i.imgur.com/459tBtZ.jpg);
}
 
.pmvv{
    display: inline-block;    
    color: #000000;
    padding-bottom: 10px;    
    margin-top: auto;
    text-justify: center;
 
}
 
.pbordermvv{
    border-bottom: 1px solid #000000;
    display: inline-block;    
    color: #000000;
    padding-bottom: 10px;    
    margin-top: auto;
    text-justify: center;
}
 
 
/* Fim - Missão Visão Valores */
 
