<!--Jumbotron-->
<div class="content">
    
    <div class="row d-flex align-items-center">
        <div class="col-md-fluid ">
            <div class="hover-container">
            <img src="https://i.imgur.com/XZE8K4F.jpg" class="img-fluid" alt="Imagem responsiva">
            <div class="col-md-6 mb-5">
                <div class="carousel-caption d-none d-md-block mb-5">
                    <h1 class="text-center-fluid font-weight-bold text-light">Eco Tenda</h1>
                    <h6 class="text-center-fluid mb-5 font-weight-bold text-light my-5">Economicamente sustentável</h6>
                </div>
            </div>
        </div>
    </div>
</div>

</div>



<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class=" slide align-self-center">Lorem Ipsum</h1>
        <p class="lead">lorem ipsum
        </p>
        <p class="lead">lorem ipsum
        </p>
        <p class="lead">lorem ipsum
        </p>
    </div>

</div>





<!--/Jumbotron-->

<div>
    <blockquote class="">
        <h1 class="slide align-self-center">História</h1>
    </blockquote>
</div>

<!--Cards-->
<div class="container">

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como
                    uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
            </div>
            <!--/Cards-->