<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
        <h1 class=" slide align-self-center">Lorem Ipsum</h1>
        <p class="lead">lorem ipsum
        </p>
        <p class="lead">lorem ipsum
        </p>
        <p class="lead">lorem ipsum
        </p>
    </div>
</div>
<!--/Jumbotron-->

<div>
    <blockquote class="">
        <h1 class="slide align-self-center">História</h1>
    </blockquote>
</div>

<!--Cards-->
<div class="container">

    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">Este é um card mais longo com suporte a texto embaixo, que funciona como
                    uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior.</p>
            </div>
            <!--/Cards-->