<body>
 
  <div class="container-fluid-responsive ">

    <div>
      <img src="https://i.imgur.com/KemOstM.jpg" alt="" width="100%">
  </div>

  <!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100  " src="https://i.imgur.com/TVjIPpv.jpg" alt="Primeiro Slide" height="500px" width="300px">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="https://i.imgur.com/KemOstM.jpg" alt="Segundo Slide" height="500px" width="300px">
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="https://i.imgur.com/ImFKSGl.jpg" alt="Terceiro Slide" height="500px" width="300px">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Próximo</span>
      </a>
  </div> -->
  <div class="container sobren">
    <div class="row">
          <div class="col-md-6 my-3">
            
              <h2 class="my-3"> Sobre Nós</h2>
              <p class="my"> Eco Tenda é um e-commerce fundando em 2021, por 5 desenvolvedores de programação muito preocupados com o meio ambiente.</p>
              <p> Decidiram unir suas experiências para atender uma necessidade emergente em nossas cidades, e resolveram disponibilizar uma plataforma em que os usuários possam obter seus produtos ecologicamente sustentáveis! </p>
            </div>
            <div class="col-md-6">
             
              <img class="img-fluid my-4" src="https://i.imgur.com/evizlp3.jpg" width="450px" alt="logo EcoTenda">
            </div>
            </div>
            
        
        
  
      <div class="row">
          <div class="col-md-6">
              <img class="img-fluid" src="https://i.imgur.com/MOy7oqf.jpg" width="450px" alt="imagem de missao">
          </div>
          <div class="col-md-6 fluid my-5">
         
              <h3 class=""> Como comprar estes produtos incríveis?</h3>
              <p class="my-1" >Incentivamos o empreededorismo para todos! <br>
              Basta você realizar o seu cadastro como vendedor! <br> E ajudar a construir a nossa Tenda de produtos Eco!!!</p>
          </div>
      </div>
  
  <!-- <div class="container sobren mt-5">
      <div class="row">
          <div class=" col-md-4 sobreno">
              <h2>Missão</h2>
              <p class="mb-2"> Nascemos para fazer a diferença na vida das pessoas, da natureza e dos animais.</p>
                  <p class="">Procuramos, através da nossa E-Tenda , transmitir a mensagem da ecologia sustentável, proporcianando um futuro próspero para todo meio ambiente.</p>
                  <div class="">
                      <img src="https://i.imgur.com/evpooaa.jpg" width="250px" alt="logo EcoTenda">
                  </div>
                  </div>
                  <div class=" col-md-4 ">
                      <h2>Visão</h2>
                      <p class="mb-2"> Ser a primeira opção na casa dos brasileiros, quando trata-se de produtos ecologicamente sustetáveis. </p> <p class=""> Garantir o crescimento do nosso negócio, disponiblizar uma plataforma de qualidade para os nossos vendedores e trazer uma experiência agradável aos nossos clientes trazendo segurança e confiabliade ao consumir nossos produtos.</p>
                         
                          <div class="">
                              <img src="https://i.imgur.com/evpooaa.jpg" width="250px" alt="logo EcoTenda">
                          </div>
                          </div>
                          <div class=" col-md-4">
                              <h2>Valores</h2>
                              <p class="mb-1">Ame o próximo</p>
                              <p class="mb-1">Faça tudo pelo cliente</p>
                              <p class="mb-1">Ser transparentes</p>
                              <p class="mb-1">Vendemos o que acreditamos</p>
                              <p class="mb-1">Gratidão</p>
                              <p class="mb-1">Reconhecer os erros para crescermos</p>
  
                                  <div class="">
                                      <img src="https://i.imgur.com/evpooaa.jpg" width="250px" alt="logo EcoTenda">
                                  </div>
                                  </div>
      </div>
  </div> -->
  </div>
  

  <div class="container containerequipe my-5">
    <div class="col-md-12 align-items-center">
    <h1 class="h01 my-3 ">Pilares</h1>
      <div class="row d-flex justify-content-center equipe">

        <div class="col-md-4 mb-3">
          <div class="row">
        <div class="col colequipe">
         
          <div class="card-deck-responsive cardmvv">
            <div class="inner-box">
              <div class="card-front cardmissao">
                <span class="text-center my-5 spanmvv">Missão</span>
              </div>
                <div class="card-back backmissao">
                  <h3 class="pbordermvv my-4">Missão</h3>  
                  <p class="pmvv mb-1">Nascemos para fazer a diferença na vida das pessoas, da natureza e dos animais.</p>
                  <p class="pmvv">Procuramos, através da nossa E-Tenda, transmitir a mensagem da ecologia sustentável, proporcianando um futuro próspero para todo meio ambiente.</p>
                
                </div>
            </div>
          </div>
        </div>      

      </div>
       
      </div>

      <div class="col-md-4 mb-3">
        <div class="row d-flex">
      <div class="col colequipe">
        
        <div class="card-deck-responsive cardmvv">
          <div class="inner-box">
            <div class="card-front cardvisao">
              <span class="text-center my-5 spanmvv">Visão</span>
            </div>
              <div class="card-back backvisao">
                <p class="pbordermvv my-4">Visão</p>               
                <p class="pmvv mb-1">Ser a primeira opção de E-commerce dos brasileiros, quando trata-se de produtos ecologicamente sustetáveis </p>  
                <p class="pmvv">Garantir o crescimento do nosso negócio, disponiblizar uma plataforma de qualidade para os nossos vendedores e trazer uma experiência agradável aos nossos clientes trazendo segurança e confiabliade ao consumir nossos produtos.</p>         
          </div>
        </div>
      </div>
    </div>
    </div>
     
    </div>
    <div class="col-md-4 mb-3">
      <div class="row">
    <div class="col colequipe">
     
      <div class="card-deck-responsive cardmvv">
        <div class="inner-box">
          <div class="card-front cardvalores">
            <span class="text-center my-5 spanmvv" >Valores</span>
          </div>
            <div class="card-back backvalores">
              <p class="pbordermvv my-4">Valores </p>
              <br>
              <p class="pmvv mb-1">- Ame o próximo</p>
              <p class="pmvv mb-1">- Faça tudo pelo cliente</p>
              <br>
              <p class="pmvv mb-1">- Gratidão</p>
              <p class="pmvv mb-1">- Reconhecer os erros para crescermos</p> 
              <p class="pmvv mb-1">- Ser transparentes</p>
              <p class="pmvv mb-1">- Vender o que acreditamos</p>                             
                   
        </div>
      </div>
    </div>
  </div>   
  </div>
</div>
</div>
      </div>
    </div>




  
    
  
  
  
  
  
  


  <div class="container containerequipe my-5">
    <div class="col-md-12 align-items-center">
    <h1 class="h01">Nossa Equipe</h1>
      <div class="row d-flex justify-content-center equipe">

        <div class="col-md-4 my-3">
          <div class="row">
        <div class="col colequipe">
         
          <div class="card-deck-responsive cardequipe">
            <div class="inner-box">
              <div class="card-front card01">
                <span class="text-center spanequipe">Alessandro Dias Jr.</span>
              </div>
                <div class="card-back">
                  
                  <p class="pequipe my-5">Scrum Master</p>
                  <div class="social-media">
                    <a href="https://www.linkedin.com/in/alessandrodjr/" target="_blank" class="img-circle">
                      <i class="fa fa-linkedin-square mx-4" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/alessandrodjr" target="_blank" class="icoGithub">
                    <i class="fa fa-github mx-4"  aria-hidden="true"></i>
                  </a>
                  
                  </div>
                  <p class="pnome my-4">Alessandro Dias Jr.</p>
                </div>
            </div>
          </div>
        </div>      

      </div>
       
      </div>

      <div class="col-md-4 my-3">
        <div class="row d-flex">
      <div class="col colequipe">
        
        <div class="card-deck-responsive cardequipe">
          <div class="inner-box">
            <div class="card-front card02">
              <span class="text-center spanequipe">Anny Sena</span>
            </div>
              <div class="card-back">
                <p class="pequipe my-5">Scrum Master</p>
                <div class="social-media">
                  <a href="https://www.linkedin.com/in/annydossantosenavaz/" target="_blank" class="icoLinkedin">
                    <i class="fa fa-linkedin-square  mx-4" aria-hidden="true"></i>
                  </a>
                  <a href="https://github.com/annysena" target="_blank" class="icoGithub">
                  <i class="fa fa-github  mx-4" aria-hidden="true"></i>
                </a>
                </div>   
                <p class="pnome my-4">Anny Sena</p>         
          </div>
        </div>
      </div>
    </div>
    </div>
     
    </div>
  
</div>
      </div>
    </div>

    <div class="container containerequipe">
    <div class="col-md-12 align-items-center">
      
        <div class="row d-flex justify-content-center equipe">

          <div class="col-md-4 my-3">
            <div class="row">
          <div class="col colequipe">
           
            <div class="card-deck-responsive cardequipe">
              <div class="inner-box">
                <div class="card-front card03">
                  <span class="text-center spanequipe">Bruno Baldaia</span>
                </div>
                  <div class="card-back">
                    <p class="pequipe my-5">Scrum Master</p>
                    <div class="social-media">
                      <a href="https://www.linkedin.com/in/bruno-baldaia-4069a4156/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin-square  mx-4" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/bbaldaia" target="_blank" class="icoGithub">
                      <i class="fa fa-github  mx-4" aria-hidden="true"></i>
                    </a>
                    </div>
                    <p class="pnome my-4">Bruno Baldaia</p>           
              </div>
            </div>
          </div>
        </div>   
        </div>
      </div>
  
          <div class="col-md-4 my-3">
          <div class="col colequipe">
           
            <div class="card-deck cardequipe">
              <div class="inner-box">
                <div class="card-front card04">
                  <span class="text-center spanequipe">Jonatas Ribeiro</span>
                </div>
                  <div class="card-back">
                    <p class="pequipe my-5">Scrum Master</p>
                    <div class="social-media">
                      <a href="https://www.linkedin.com/in/jonataspribeiro/" target="_blank" class="img-circle">
                        <i class="fa fa-linkedin-square mx-4" aria-hidden="true"></i>
                      </a>
                      <a href="https://github.com/jonataspribeiro" target="_blank" class="icoGithub">
                      <i class="fa fa-github mx-4" aria-hidden="true"></i>
                    </a>
                    </div>
                    <p class="pnome my-4">Jonatas Ribeiro</p>
                
              </div>
            </div>
          </div>
  
         
  
        
  
        </div>
         
        </div>
        <div class="col-md-4 my-3">
        <div class="col colequipe">
          
          <div class="card-deck cardequipe">
            <div class="inner-box">
              <div class="card-front card05">
                <span class="text-center spanequipe">Leonardo Affonso</span>
              </div>
                <div class="card-back">
                  <p class="pequipe my-5">Scrum Master</p>
                  <div class="social-media">
                    <a href="https://www.linkedin.com/in/leonardo-affonso/" target="_blank" class="icoLinkedin">
                      <i class="fa fa-linkedin-square  mx-4" aria-hidden="true"></i>
                    </a>
                    <a href="https://github.com/leonardoaf2" target="_blank" class="icoGithub">
                    <i class="fa fa-github  mx-4" aria-hidden="true"></i>
                  </a>
                  </div>
                  <p class="pnome my-4">Leonardo Affonso</p>
              
            </div>
          </div>
        </div>
  
       
  
      
  
      </div>
       
      </div>
     
  
        
  
  </div>
  
        </div>
      </div>

  
 
  
    </div>
    </body>
 

  <!-- <body>
    <div class="container text-white">
      <div class="row d-flex justify-content-center" id="inicio">
        <div class="col-md-2">
          <div class="voltar mt-4">
            <a class="text-white" routerLink='/inicio'>
              <i class="fa fa-chevron-left mr-1 mt-4"></i> Voltar
            </a>
          </div>
        </div>
        <div class="col-md-6 mt-4" id='topo'>
          <img class='logo mt-4 ' src="https://i.imgur.com/Let0DbC.png" alt="Logo Mandala">
          <p class='text-white mt-2 text-justify'>Somos a Mandala, uma rede social voltada para pessoas com deficiência,
            voltada para informações referentes a mobilidade, segurança e adequações de acessibilidade dentro de sua
            cidade. Nossa rede possibilita a interação entre usuários,
            seja com postagens sobre seu dia a dia, como também indicações sobre locais mais bem preparados para o atender
            as necessidades de cada indivíduo.</p>
        </div>
      </div>
  
      <hr class="bg-white">
  
      <div class="row mb-5 mt-5 ">
        <div class="col-md-12 mb-5">
          <h1 class="text-center title-inicial text-white">Sobre nós</h1>
        </div>
      </div>
  
      <div class="row  mb-5">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front ">
                <img class="fotos" src="https://i.imgur.com/BWEnB58.jpg">
              </div>
              <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
                <a href="https://www.linkedin.com/in/correacoding/" target="_blank" class=" mr-3">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/CorreaCoding" target="_blank" class="icone ml-1">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 mt-5">
          <h1 class="text-center font-nome mb-4">Amanda Corrêa</h1>
          <p class="text-justify">
            Desenvolvedora Fullstack Java Jr. formada através do Bootcamp da Generation Brasil. Durante a minha trajetória
            me envolvi com diversos projetos sociais que me permitiram evoluir minhas habilidades de trabalho em equipe e
            comunicação, entender a importância desses tipos de projetos para as populações em vulnerabilidade social me
            levaram à descoberta de que o meu propósito no fim era de ajudar pessoas e hoje enxergo a tecnologia como
            forma de atingir esse objetivo. Me sinto confortável com Backend e Frontend, e estou sempre aberta para novas
            oportunidades e desafios.
          </p>
        </div>
      </div>
  
      <div class="row  mt-5 mb-5" style="flex-direction: row;">
        <div class="col-md-6 mt-5">
          <h1 class="text-center font-nome mb-4">Henryk Michalicki</h1>
          <p class="text-justify">Paulista vindo da área de eventos, com forte capacidade de comunicação e foco em
            resultado. Atualmente em um novo desafio migrando para área de TI, no Bootcamp da Generation Brasil, com o
            programa formação de Desenvolvedor Full Stack Java
            Jr, sempre atento aos detalhes e com alta capacidade de adaptabilidade para conseguir alcançar todos os
            objetivos a mim propostos de forma exemplar.
  
          </p>
        </div>
  
        <div class="col-md-6 d-flex justify-content-center">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class="fotos" src="https://avatars.githubusercontent.com/u/86090687?v=4">
              </div>
              <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
                <a href="https://www.linkedin.com/in/henrykmichalicki/" target="_blank" class=" mr-3">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/HenrykMichalicki" target="_blank" class="icone ml-1">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row  mt-5 mb-5">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class="fotos" src="https://i.imgur.com/MXmdJN9.jpg">
              </div>
              <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
                <a href="https://www.linkedin.com/in/jessica-f-oliveira-330b091a5/" target="_blank" class=" mr-3">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/JessyOliver" target="_blank" class="icone ml-1">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 mt-5">
          <h1 class="text-center font-nome mb-4">Jessica F. Oliveira</h1>
          <p class="text-justify">
            Desenvolvedora Fullstack Java Jr. formada através do Bootcamp da Generation Brasil. Na Etec sou formada nos
            cursos técnicos de Informática, Análise e Desenvolvimento de Sistemas e atualmente na Fatec estou cursando o
            1° semestre de Gestão da Tecnologia
            da Informação. Com experiência no desenvolvimento de projetos acadêmicos, minha persistência em obter
            conhecimentos me faz sempre querer estar atualizada e criando novas tecnologias.
          </p>
        </div>
      </div>
  
      <div class="row  mt-5 mb-5" style="flex-direction: row;">
        <div class="col-md-6 mt-5">
          <h1 class="text-center font-nome mb-4">Juan H. Barros</h1>
          <p class="text-justify">Atualmente cursando bootcamp de desenvolvimento Full-stack Java na Generation Brasil,
            tenho inglês avançado e amo o Front-end
            Minha carreira está em desenvolvimento, estou em busca de oportunidades de aprendizado e experiência no
            mercado de trabalho.
            Atividades
          </p>
        </div>
  
        <div class="col-md-6 d-flex justify-content-center">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class="fotos" src="https://avatars.githubusercontent.com/u/59633047?v=4">
              </div>
              <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
                <a href="https://www.linkedin.com/in/juanhlbarros/" target="_blank" class=" mr-3">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/juanhdev" target="_blank" class="icone ml-1">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row  mt-5 mb-5">
        <div class="col-md-6 d-flex justify-content-center">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class="fotos" src="https://avatars.githubusercontent.com/u/84880536?v=4">
              </div>
              <div class="row flip-box-back justify-content-center border border-light" style="align-items: center;">
                <a href="https://www.linkedin.com/in/juan-sapiezcinski/" target="_blank" class=" mr-3">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
                </a>
                <a href="https://github.com/SPZCNSK" target="_blank" class="icone ml-1">
                  <i class="fa fa-github-square fa-3x" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 mt-5">
          <h1 class="text-center font-nome mb-4">Juan Sapiezcinski</h1>
          <p class="text-justify">
            Desenvolvedor Java cursando o 6° semestre de Ciência da Computação com experiência no desenvolvimento de
            projetos acadêmicos, sempre amei tecnologia e aprender coisas novas, minha persistência em obter conhecimentos
            me faz sempre querer estar atualizado
            e esta criando novas tecnologia.
          </p>
        </div>
      </div>
      <div class="row mt-2 d-flex justify-content-center">
        <div class="subir mb-5 ">
          <a class="text-white html" href="#topo">
            <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div> -->