<div class="container">
    <div class="row my-5 d-flex justify-content-center">

        <div class="col-md-8 my-5">
            <h1 id="titulo">Informações de Usuário</h1>

                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Insira seu nome completo"
                            [(ngModel)]='usuario.nome'>
                    </div>
        
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" name="email" id="email" placeholder="Insira seu email"
                            [(ngModel)]='usuario.email'>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="senha">Senha</label>
                                <input class="form-control" type="password" name="senha" id="senha"
                                    placeholder="Insira sua senha" (input)='confirmSenha($event)'>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="confirmSenha">Confirmar Senha</label>
                                <input class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                                    placeholder="Confirme sua senha" [(ngModel)]='senha'>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <input class="form-control" type="text" name="cpf" id="cpf" placeholder="Insira seu CPF"
                                    [(ngModel)]='usuario.cpf'>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dataNascimento">Data de Nascimento</label>
                                <input class="form-control" type="date" name="dataNascimento" id="dataNascimento"
                                    [(ngModel)]='usuario.dataNascimento'>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="foto">URL da foto</label>
                        <input class="form-control" type="text" name="foto" id="foto" placeholder="Insira a URL de sua foto"
                            [(ngModel)]='usuario.foto'>
                    </div>
        
                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário</label>
                        <select class="form-control" name="tipo" id="tipo" (change)='tipoUser($event)'>
                            <option>Selecione um tipo de usuário:</option>
                            <option value="adm">Administrador</option>
                            <option value="comprador">Comprador</option>
                            <option value="vendedor">Vendedor</option>
                        </select>
                    </div>          

            
            <div class="d-flex justify-content-center">
                <button class="btn btn-light mr-4" routerLink="/configuracao">Cancelar</button>
                <button class="btn btn-success mr-4" (click)="atualizar()">Atualizar</button>
            </div>
        </div>
    </div>
</div>
