
  <div class="container">
    <div class="row ">
        <div class="col-md-6">
            <div class="row mb-5 ">
                <div class="col-md-12">
                  <h4 class="text-center">Faça o Login</h4>
                  
                </div>
              </div>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Endereço de email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                  <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Senha</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
          </div>
          <div class="col-md-6 centraliza">
            <iframe class="w-100"src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117041.29224936657!2d-46.82743957625989!3d-23.54902797043879!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce570948441c07%3A0x4029573d5188479e!2sSEPHORA!5e0!3m2!1spt-BR!2sbr!4v1630462005043!5m2!1spt-BR!2sbr" 
            width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

  </div>
  