<nav class="navbar cor-nav navbar-expand-lg navbar-dark d-flex justify-content-between">
  <a class="navbar-brand font-weight-bold titulo" routerLink="/landing-page" href="#"><img src="../../assets/img/EcoTenda.png" white="60px" height="60px" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
    <div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" role="button" routerLink="/sobre" aria-haspopup="true" aria-expanded="false"
            href="#">Sobre</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#categoria-inicio" role="button" aria-haspopup="true" aria-expanded="false">
            Categorias
          </a>
        </li>
        <li class="nav-item mr-5 pr-5">
          <a class="nav-link" href="#" routerLink="/todos-produtos" role="button" aria-haspopup="true"
            aria-expanded="false">
            Produtos
          </a>
        </li>
        <ul class="navbar-nav alinhar" >
          <li *ngIf="auth.logado() == false">
            <a routerLink="/login" class="text-white font-weight-bold mx-2 fs-16"><i class="fa fa-user text-white"
                aria-hidden="true"></i> Login </a>
            <i class="fa fa-cog fs-16 text-white" aria-hidden="true" routerLink="/configuracao"></i>
          </li>
          <li *ngIf="auth.logado()">
            <p class="text-white"><img src="{{foto }} " alt="imagem do user" width="30px" height="30px" class="img-fluid rounded-circle"> Olá, {{nome}} <a (click)="sair()" href=""><i class="fa mx-2 text-white fa-sign-out fs-16" aria-hidden="true"></i></a> <i class="fa fa-cog text-white fs-16" aria-hidden="true" routerLink="/configuracao"></i></p>
         </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>