.fs-16 {
    font-size: 14pt;
    color: lightcyan;
}

.cor-nav {
    background-color: #9DBF54;
}

.titulo {
    color: #5E3519;
    font-size: 25pt;
}

li{
    font: bold;
}

.alinhar{
    align-items: center;
    justify-content: center;
}
.link{
    color: #fff !important;
    font-weight: bold !important;
}

.link:hover{
    color: rgb(117, 116, 116) !important;
}

@media (max-width: 600px)
{
    .alinhar{
        align-items:start;
        }
}