<div style="background-color: #E9ECEF;">
   <div class="container-fluid">
            <img src="https://i.imgur.com/MdFPmWB.png" alt="">
        </div>    
<div class="container ">
    
      <div class="row d-flex justify-content-center">
          <div class="col-md-4">
            <input class="form-control  my-5" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          </div> 
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-3 my-5" *ngFor="let item of listaProdutos">
            <div class="card ">
                <div height="10px">
                    <img class="card-img-top img-tmh" src="{{item.imagem}}" alt="Imagem de capa do card">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.nome}}</h5>
                    <p class="card-text">Preço: R${{item.valor}}</p>
                    <a href="#" [routerLink]="['/tela-compra', item.id]" class="btn btn-primary">Conferir</a>
                </div>
            </div>
        </div>
    </div>
</div>
