<div style="background-color: #E9ECEF;">
   <div class="container-fluid espaco">
            <img src="https://i.imgur.com/MdFPmWB.png" alt="" width="100%">
        </div>    
<div class="container ">
    
      <div class="row d-flex justify-content-center">
          <div class="col-md-4">
              
            <input class="form-control  my-5" type="search" placeholder="Busque aqui seu produto" aria-label="Pesquisar">
          </div> 
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-3 my-5" *ngFor="let item of listaProdutos">
            <div class="card ">
                <div height="10px">
                    <img class="card-img-top img-tmh" src="{{item.imagem}}" alt="Imagem de capa do card">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.nome}}</h5>
                    <p class="card-text">Preço: R${{item.valor}}</p>
                    <a href="#" [routerLink]="['/tela-compra', item.id]" class="btn btn-primary">Conferir</a>
                </div>
            </div>
        </div>
    </div>
    <div class="corH">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center">
                <div class="m-5">
                    <h3>Receba Nossas Ofertas!</h3>
                    <div class="my-3">
                        <h6>Nome</h6>
                        <input class="form-control" placeholder="Insira seu nome">
                    </div>
                    <div class="my-3">
                        <h6>Email</h6>
                        <input class="form-control" placeholder="Insira seu email">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success">Enviar</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex espaco justify-content-center">
                <div class="m-5 d-flex justify-content-center">
                    <img src="https://i.imgur.com/GVYNeMp.png" alt="" width="50%">
                </div>
            </div>
        </div>
    </div>
</div>
