<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="cadastro-background">            
            <div class="row" id="colunas">
                <div class="col-md-8 bg-secondary" id="primeira-coluna">
                    <h1>Aqui vai ficar ficar algum título para o cadastro</h1>
                    <h4>Aqui vai ficar um sub-título para o cadastro</h4>

                    <div class="form-group">
                        <label for="nome">Titulo</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Placeholder">
                    </div>

                    <div class="form-group">
                        <label for="nome">Titulo</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Placeholder">
                    </div>

                    <div class="form-group">
                        <label for="nome">Titulo</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Placeholder">
                    </div>

                    <div class="form-group">
                        <label for="nome">Titulo</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Placeholder">
                    </div>

                    <div>
                        <button type="submit" class="btn btn-danger mr-5" routerLink="/entrar">Criar minha conta</button> 
                    </div>

                </div>

                <div class="col-md-4 bg-danger" id="segunda-coluna">
                    Aqui vai ficar uma foto, de preferência com algum item sustentável
                </div>
            </div>

        </div>
    </div>
</div>