<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h2 class="text-center">Todos os temas</h2>
        </div>
    </div>
    <div class="row d-flex justify-content-center mb-5 mt-3">
        <div class="col-md-6">

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col" class="text-right">Modigicaçoes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listaCategoria">
                    <th >{{item.id}}</th>
                    <td>{{item.nome}}</td>
                    <td class="d-flex justify-content-end">
                        <button class="btn btn-info mr-3" [routerLink]="['/categoria-edit', item.id]">Editar</button>
                        <button class="btn btn-danger">Apagar</button>
                    </td>
                  </tr>
                </tbody>
              </table>

        </div>
    </div>
</div>

